<%- include("../includes/head.ejs") %> <%- include("../includes/navigation.ejs")
%>
<div class="flex-row-centered">
  <div class="card login-form-card">
    <h1 class="text-center">Login Form</h1>
    <form class="product-form" method="POST" action="/auth/authenticating">
      <div class="form-control">
        <input
          class="w-100"
          type="text"
          name="email"
          placeholder="enter your email"
          required
          autofocus
        />
      </div>
      <div class="form-control">
        <input
          class="w-100"
          type="password"
          name="password"
          placeholder="enter your password"
          required
        />
      </div>
      <div class="form-control">
        <button class="btn w-100">Submit</button>
      </div>
    </form>
  </div>
</div>
<%- include("../includes/logout-btn.ejs") %> <%- include("../includes/end.ejs")
%>
