body {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}
.main-header {
  background-color: #f4f449;
  height: 3.5rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.main-header-title {
  font-size: 34px;
  font-weight: bold;
  color: #fff;
  margin-left: 30px;
}
.main-header__item-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  margin-right: 2rem;
}
.main-header__item {
  list-style-type: none;
  margin: 0 2rem;
  padding: 0;
}
.main-header__item a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
}
.main-header__item a:hover,
.main-header__item a:active,
.active {
  color: lightgreen !important;
}

main {
  padding: 1rem;
  box-sizing: border-box;
}

.main-footer {
  position: fixed;
  bottom: 0px;
  width: 100%;
  text-align: center;
}

.product-form {
  margin: 0 auto;
  width: auto;
}

.form-control {
  padding: 1rem;
  box-sizing: border-box;
}

.form-control input,
.form-control label {
  display: block;
}

.form-control label {
  font-weight: bold;
  font-size: 1.2rem;
}

.form-control input {
  border: 2px solid #f4f449;
  font: inherit;
  border-radius: 2px;
  height: 3rem;
  min-width: 300px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
}

.form-control textarea {
  border: 2px solid #f4f449;
  font: inherit;
  border-radius: 2px;
  min-width: 300px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
}

.flex-box {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}
.card {
  padding: 1rem;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
  border-radius: 0.5rem;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
}

.product__title {
  font-size: 2rem;
  margin: 0.5rem 0;
  font-weight: bold;
  text-align: center;
}

.card__image img {
  width: 15rem;
  height: 12rem;
}

.card__content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
}

.product__price {
  text-align: center;
  font-weight: bold;
  font-size: 1.5rem;
  color: #000;
}

.product__description {
  text-align: center;
  font-weight: 400;
  font-size: 0.7rem;
  color: grey;
}

.product-id {
  text-align: right;
  font-size: 0.5rem;
  margin: unset;
  color: grey;
}

.card__actions {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 1rem;
  box-sizing: border-box;
}

.product-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 250px;
}

.main-404 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.card__actions {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 1rem;
  box-sizing: border-box;
}

button,
.btn {
  font: inherit;
  border: 2px solid #f4f449;
  background: white;
  color: #f4f449;
  height: 3rem;
  min-width: 100px;
  padding: 0.5rem;
  box-sizing: border-box;
  border-radius: 3px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s ease-out;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -ms-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
}
button:hover,
.btn:hover {
  border: 2px solid lightgreen;
  color: lightgreen;
}

.red {
  border-color: red !important;
  color: red !important;
}

.rounded {
  height: 20px !important;
  width: 20px !important;
  border-radius: 50% !important;
  -webkit-border-radius: 50% !important;
  -moz-border-radius: 50% !important;
  -ms-border-radius: 50% !important;
  -o-border-radius: 50% !important;
  padding: unset !important;
  min-width: unset !important;
}

.flex-row-centered {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.gap-half-rem {
  gap: 0.5rem;
}

/* Product details page */

.product_details_main_grid {
  display: grid;
  grid-template-columns: 60% 40%;
  grid-template-rows: auto;
}

.grid_cell_1 {
  padding: 1rem;
  box-sizing: border-box;
}

.grid_cell_2 {
  padding: 1rem;
  box-sizing: border-box;
}

.single_product_title {
  font-size: 4rem;
  font-weight: bold;
  margin: 0.7rem 0;
}

.single_product_image_card {
  display: flex;
  align-items: center;
  justify-content: center;
}

.single_product_image {
  width: 100%;
  height: 35rem;
  border-radius: 0.7rem;
  -webkit-border-radius: 0.7rem;
  -moz-border-radius: 0.7rem;
  -ms-border-radius: 0.7rem;
  -o-border-radius: 0.7rem;
}

.single_product_price {
  font-size: 3rem;
  color: grey;
  margin: 0.5rem 0;
}

.single_product_description {
  font-size: 1rem;
}

.product_details_card__actions {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
}

/* Cart listing */
.empty_cart_msg {
  position: fixed;
  width: 100%;
  top: 45%;
  text-align: center;
  font-size: 3rem;
  font-weight: bold;
}

.cart-product-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 48%;
  padding: 0.5rem;
  box-sizing: border-box;
}

.cart_product_image {
  width: 5rem;
  height: 4rem;
  object-fit: contain;
}

.card-product-img-title {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.cart_product__price {
  font-size: 1.5rem;
  font-weight: bold;
  color: grey;
}

.floating_pay_button {
  min-width: 10rem;
  min-height: 3rem;
  padding: 1rem;
  box-sizing: border-box;
  position: fixed;
  bottom: 50px;
  right: 50px;
  background: yellow;
  box-shadow: 0px 0px 3px black;
  border-radius: 0.5rem;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
  color: #000;
  font-weight: bold;
  transition: all 0.5s ease-out;
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -ms-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
}

.floating_pay_button:hover {
  background: lightgreen;
  color: #fff;
}

.title_with_bottom_border {
  padding: 1rem;
  box-sizing: border-box;
  font-size: 2.5rem;
  text-align: center;
  font-weight: bold;
  border-bottom: 1px solid grey;
  margin-bottom: 1rem;
}

.login-form-card {
  width: 40%;
  margin-top: 1rem;
}

.text-center {
  text-align: center;
}

.w-100 {
  width: 100%;
}

.floating_logout_button {
  min-width: 10rem;
  min-height: 3rem;
  padding: 1rem;
  box-sizing: border-box;
  position: fixed;
  bottom: 50px;
  left: 50px;
  background: yellow;
  box-shadow: 0px 0px 3px black;
  border-radius: 0.5rem;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
  color: #000;
  font-weight: bold;
  transition: all 0.5s ease-out;
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -ms-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
}

.error {
  font-size: 0.8rem;
  color: red;
  text-align: center;
}
