<%- include("../includes/head.ejs") %> <%- include("../includes/navigation.ejs")
%>
<main class="flex-row-centered gap-half-rem">
  <!-- <a class="btn" href="/admin/products">Admin</a> -->
  <a class="btn" href="/auth/login">Customer</a>
</main>
<%- include("../includes/logout-btn.ejs") %> <%- include("../includes/end.ejs")
%>
