<%- include("../includes/head.ejs") %> <%- include("../includes/navigation.ejs")
%>
<main class="flex-row-centered gap-half-rem">
  <a class="btn" href="/admin/products">Admin</a>
  <a class="btn" href="/shop/">Customer</a>
</main>
<%- include("../includes/end.ejs") %>
