<%- include("../includes/head.ejs") %> <%- include("../includes/navigation.ejs")
%>
<main class="main-404">
  <h1>500</h1>
  <p>Unknown error occurred on server</p>
</main>
<%- include("../includes/end.ejs") %>
